.container {
    margin-left: 5%;
    margin-top: 5%;
}
.notification {
    margin-top: 3px;
    margin-bottom: 3px;
}
.entete {
    display:flex;
    flex-flow: row nowrap;
}
.content {
    display:flex;
    flex-flow: row nowrap;
    margin-left: 5px;
}
.icon{
    border-radius: 100px;
}
.traitgauche {
    border-left: 1px solid lightgrey;
    padding-left: 5px;
}
.text {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;;
    border-radius: 5px;
}
.bg_yellow {
    background: rgba(255,255,0,0.2);
}
.bg_blue {
    background: rgba(0,0,255,0.2);
}
.bg_red {
    background: rgba(255,0,0,0.2);
}